<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

<div class="col-md-12" style="background: #e4dfdf; display: -webkit-box; height: 75%">
    <div class="col-md-4" style=" padding:2%;">
        <select class="browser-default" id="cboFormas" style="font-size: 200%; height: auto; width: auto;">
            <option value="" disabled selected>Selecione a Forma de Pagamento</option>
            <option value="01">01-CONSULTAR STATUS OPERACIONAL</option>
            <option value="02">02-CANCELAR CFe</option>
            <option value="03">03-EXTRAIR LOG</option>
            <option value="04">04-REIMPRIMIR CFe</option>
        </select>
    </div>
</div>

<div class="col-md-6">
    <div class="col-md-2"></div>
    <button class="btn btn-secondary col-md-2" id="voltarpg" [routerLink]="['/']" style="font-weight: bold" title="Volta tela">F9 <i class="fa fa-money"></i></button>
</div>