<div class="col-md-12" style="display: -webkit-box;">
    <div class="col-md-4" style="background-color: rgba(128, 128, 128, 0.04);padding:1%;height:100%">
        <form class="col-md-12" >
            <div >
                <input class="col-md-9" placeholder="Pesquisa" type="text" />
                <button class="col-md-3" style="font-weight: bold" class="btn btn-success" >F10 <i class="fa fa-search" aria-hidden="true"></i></button>
            </div>
            <div style="display: flex;">
                <input  class="col-md-9" id="codbar" placeholder="Código de barras" type="text" />
                <input  style="margin-left: 1%; text-align: center" (blur)="lostFocusQtde()" class="col-md-3" id="txtqtde" placeholder="Qtde" type="text" />
            </div>
        </form>

        <div class="col-md-12">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th><i class="fa fa-trash"></i></th>
                        <th>Produto</th>
                        <th>Quantidade</th>
                        <th>Preço</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><i class="fa fa-trash"></i></td>
                        <td>Notebook</td>
                        <td style="text-align:center;">1,000</td>
                        <td style="text-align:right;">R$ 3.000,00</td>
                    </tr>
                    <tr>
                        <td><i class="fa fa-trash"></i></td>
                        <td>Mouse</td>
                        <td style="text-align:center;">1,000</td>
                        <td style="text-align:right;">R$ 100,00</td>
                    </tr>
                    <tr >
                        <td><i class="fa fa-trash"></i></td>
                        <td>Teclado</td>
                        <td style="text-align:center;">1,000</td>
                        <td style="text-align:right;">R$ 140,00</td>
                    </tr>
                    <tr >
                        <td><i class="fa fa-trash"></i></td>
                        <td>Monitor</td>
                        <td style="text-align:center;">1,000</td>
                        <td style="text-align:right;">R$ 140,00</td>
                    </tr>
                    <tr >
                        <td><i class="fa fa-trash"></i></td>
                        <td>Fone</td>
                        <td style="text-align:center;">1,000</td>
                        <td style="text-align:right;">R$ 140,00</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <hr>
        <div class="col-md-12" style="background-color: rgb(242, 242, 242);" >
            
            <div style="display: -webkit-inline-box;" class="col-md-10">
                <label style="font-weight: bold;">Total de itens:</label>
            </div>
            <div style="display:inline;text-align:right" class="col-md-4">
                <label>0005</label>
            </div>

            <div style="display: -webkit-inline-box;" class="col-md-10">
                    <label style="font-weight: bold;">Desconto:</label>
            </div>
            <div style="display:inline;text-align:right" class="col-md-4">
                <label>0,00</label>
            </div>

            <div style="display: -webkit-inline-box;" class="col-md-9">
                    <label style="font-weight: bold;">Total:</label>
            </div>
            <div style="display:inline;text-align:right" class="col-md-4">
                <label>3.520,00</label>
            </div>
        </div>

        <hr>

        <div class="col-md-12">
            <div class="col-md-2"></div>
            <button class="btn btn-primary col-md-2" id="qtde" (click)="onfocusQtde()" style="font-weight: bold" title="Quantidade">F2 <i class="fa fa-bars"></i></button>
            <button class="btn btn-info col-md-2" style="font-weight: bold" title="Clientes">F4 <i class="fa fa-user-circle" aria-hidden="true"></i></button>
            <button class="btn btn-success col-md-2" id="pagto" [routerLink]="['/pedido/pagto']" style="font-weight: bold" title="Pagamento">F7 <i class="fa fa-money"></i></button>
            <button class="btn btn-danger col-md-2" style="font-weight: bold" title="Cancelar venda">F8 <i class="fa fa-ban"></i></button>
            <button class="btn btn-warning col-md-2" id="menufiscal" [routerLink]="['/pedido/menufiscal']" style="font-weight: bold" title="Sangria/Suprimento">F9 <i class="fa fa-refresh"></i></button>
 
        </div>
    </div>

    <div class="col-md-12" style="background-color: #fafafa;padding:1%;height:12%;width:70%">
        <button class="btn btn-primary col-md-2" style="font-weight: bold" >Informática</button>        
        <button class="btn btn-primary col-md-2" style="font-weight: bold" >Eletro</button>        
        <button class="btn btn-primary col-md-2" style="font-weight: bold" >Celulares</button>
        <button class="btn btn-primary col-md-2" style="font-weight: bold" >Utensílios</button>        
        <button class="btn btn-primary col-md-2" style="font-weight: bold" >Roupas</button>  

        <div class="col-md-12" style="padding:3%">
            
                <div class="card mb-3" style="width:15%;display: inline-block;vertical-align: bottom;">
                    <img style="padding:3%;height:100px"  class="card-img-top" src="http://localhost:3000/app/image/notebook.jpg" alt="Card image cap">
                    <div class="card-block" style="background-color: #d4cfcf;padding: 1%;height:60px">
                        <h6 class="card-title" style="text-align: -webkit-center;">Notebook</h6>
                    </div>                    
                </div>

                <div class="card mb-3" style="width:15%;display: inline-block;vertical-align: bottom;">
                    <img style="padding:3%;height:100px"  class="card-img-top" src="http://localhost:3000/app/image/mouse.jpeg" alt="Card image cap">
                    <div class="card-block" style="background-color: #d4cfcf;padding: 1%;height:60px">
                        <h6 class="card-title" style="text-align: -webkit-center;">Mouse Optico com fio</h6>
                    </div>                    
                </div>
                
                <div class="card mb-3" style="width:15%;display: inline-block;vertical-align: bottom;">
                        <img style="padding:3%;height:100px"  class="card-img-top" src="http://localhost:3000/app/image/notebook.jpg" alt="Card image cap">
                        <div class="card-block" style="background-color: #d4cfcf;padding: 1%;height:60px">
                            <h6 class="card-title" style="text-align: -webkit-center;">Notebook</h6>
                        </div>                    
                    </div>
                    
                    
                <div class="card mb-3" style="width:15%;display: inline-block;vertical-align: bottom;">
                        <img style="padding:3%;height:100px"  class="card-img-top" src="http://localhost:3000/app/image/mouse.jpeg" alt="Card image cap">
                        <div class="card-block" style="background-color: #d4cfcf;padding: 1%;height:60px">
                            <h6 class="card-title" style="text-align: -webkit-center;">Mouse Optico com fio</h6>
                        </div>                    
                    </div>

                    <div class="card mb-3" style="width:15%;display: inline-block;vertical-align: bottom;">
                            <img style="padding:3%;height:100px"  class="card-img-top" src="http://localhost:3000/app/image/notebook.jpg" alt="Card image cap">
                            <div class="card-block" style="background-color: #d4cfcf;padding: 1%;height:60px">
                                <h6 class="card-title" style="text-align: -webkit-center;">Notebook</h6>
                            </div>                    
                        </div>
        
                        <div class="card mb-3" style="width:15%;display: inline-block;vertical-align: bottom;">
                            <img style="padding:3%;height:100px"  class="card-img-top" src="http://localhost:3000/app/image/mouse.jpeg" alt="Card image cap">
                            <div class="card-block" style="background-color: #d4cfcf;padding: 1%;height:60px">
                                <h6 class="card-title" style="text-align: -webkit-center;">Mouse Optico com fio asdasd adeasda asdas</h6>
                            </div>                    
                        </div>
                        
                        <div class="card mb-3" style="width:15%;display: inline-block;vertical-align: bottom;">
                                <img style="padding:3%;height:100px"  class="card-img-top" src="http://localhost:3000/app/image/notebook.jpg" alt="Card image cap">
                                <div class="card-block" style="background-color: #d4cfcf;padding: 1%;height:60px">
                                    <h6 class="card-title" style="text-align: -webkit-center;">Notebook</h6>
                                </div>                    
                            </div>
                            
                <div class="card mb-3" style="width:15%;display: inline-block;vertical-align: bottom;">
                    <img style="padding:3%;height:100px"  class="card-img-top" src="http://localhost:3000/app/image/mouse.jpeg" alt="Card image cap">
                    <div class="card-block" style="background-color: #d4cfcf;padding: 1%;height:60px">
                        <h6 class="card-title" style="text-align: -webkit-center;">Mouse Optico com fio</h6>
                    </div>                    
                </div>
        </div>
    </div>

</div>